
body {
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
}

body.light {
	color: #232127;
}

body.dark {
	color: #e5e3e8;
}

input[type=text] {
	padding: 5px; 
	border: 2px solid #6441A4; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: transparent;
	color: inherit;
}

input[type=text]:invalid {
	border-color: red;
}

input[type=submit] {
	padding: 5px 15px;
	border: 0;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #6441A4;
	color: #e5e3e8;
}

a {
	color: #6441A4;
}